/* global standards */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: 1px solid #757575;
}
input:focus {
  border: 2px solid #00acc1;
}

input:-webkit-autofill {
  transition: background-color 5000s;
}

/* responsive Desktop */

@media (min-width: 600px) {
  .login {
    display: flex;
  }
  .login-form {
    text-align: start;
  }
  .login-img {
    display: flex;
  }
  .imgMobile {
    display: none;
  }
  .login-img-icon {
    display: none;
  }
  .title_img-mobile {
    display: none;
  }
  .info_link-mobile {
    display: none;
  }
  .iconMobile {
    display: none;
  }
  .feed-mobile {
    display: none;
  }
  .profile-mobile {
    display: none;
  }
  .info-desk {
    text-align: center;
  }
  .feed-desktop {
    display: flex;
  }
  .profile-desktop {
    display: flex;
  }
}

/* responsive Mobile */

@media (max-width: 600px) {
  .imgDesk {
    display: none;
  }
  .title_img {
    display: none;
  }
  .title_img-desk {
    display: none;
  }
  .title-Desktop {
    display: none;
  }
  .title-Desktop-1 {
    display: none;
  }
  .title-Desktop-2 {
    display: none;
  }
  .info-desk {
    display: none;
  }
  .feed-desktop {
    display: none;
  }
  .profile-desktop {
    display: none;
  }
  .feed-mobile {
    display: flex;
    flex-direction: column;
  }
  .profile-mobile {
    display: flex;
    flex-direction: column;
  }
}
