* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: 1px solid #757575;
}
input:focus {
  border: 2px solid #00acc1;
}

input:-webkit-autofill {
  transition: background-color 5000s;
}
